*~
*#
.DS_Store
.project
.settings
.classpath
.metadata
*.o
*.a
*.pyc
*.err
*.log
.lock-waf*
.waf-*
build
waf_xcode.sh
src/tests/combinations
params_*
benchmark_results

# Ignored folders for the documentation
_build
doxygen_doc
.vscode/ipch/f1f6c6fb81b02c15/mmap_address.bin
.vscode/ipch/f1f6c6fb81b02c15/rte_hexa.ipch
*.dat
*.waf3*
*.svg
*.vscode*